*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
h1{
   font-weight: 600 !important;
   color: orange !important; 
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: x-large !important;
   font-style: oblique;
   text-shadow: 1px 1px 4px black, -1px -1px 4px white; 
}
.on{
  font-weight: bolder !important;
  color: black;
  text-shadow: none; 
}
nav a{
  color: black !important;
  font-weight: 500 !important;
}
nav .span:hover{
  border-bottom: 3px solid red;
  padding-bottom: 5px;
  color: black;
}
.chats{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}
.babar{
   width: 100%;
   height: auto;
   background-image: url(img/banner1.webp);
   background-size: cover;
   height: 300px;    
   margin-bottom: 20px;
}

.babar p{
  padding-top: 90px;
  text-align: center;
  color: white;
  font-size: x-large;
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
  background-color: red;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700 !important;
  margin-bottom: 20px !important;
  text-align: center;
  color: white !important;
}
.card img {
  width: 100%;
  height: auto;
  max-height: 160px !important;

}
.card h5 {
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: black;
   text-align: center;
}
.card button {
   padding: 5px 10px !important;
   border-radius: 7px;
   border: 1px solid black;
   color: white; 
   background-color: black;
}
.babars img {
  width: 100%;
  height: auto;
  max-width: 1300px !important;
  max-height: 400px;
  
}
.bigkitss{
  margin-top: 20px;

}
.kit11 {
  width: 100%;
  height: auto;
  max-height: 150px !important;
  max-width: 200px;
  margin: auto;
}
.card button {
  margin-left: 40px;
}








