*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
 .navv1 {
  width: 100%;
  height: auto;
  position: fixed !important;
  top: 0px !important;
  z-index: 10;
}

h1{
   font-weight: 600 !important;
   color: orange !important; 
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: x-large !important;
   font-style: oblique;
   text-shadow: 1px 1px 4px black, -1px -1px 4px white; 
}
.on{
  font-weight: bolder !important;
  color: black;
  text-shadow: none; 
}
nav a{
  color: black !important;
  font-weight: 500 !important;
}
nav .span:hover{
  border-bottom: 3px solid red;
  padding-bottom: 5px;
  color: black;
}
.chats{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}
.babar{
   width: 100%;
   height: auto;
   background-image: url(img/banner1.webp);
   background-size: cover;
   height: 300px;    
   margin-bottom: 20px;
}

.babar p{
  padding-top: 90px;
  text-align: center;
  color: white;
  font-size: x-large;
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
  background-color: red;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700 !important;
  margin-bottom: 20px !important;
  text-align: center;
  color: white !important;
}
.card img {
  width: 100%;
  height: auto;
  max-height: 160px !important;

}
.card h5 {
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: black;
   text-align: center;
}
.card button {
   padding: 5px 10px !important;
   border-radius: 7px;
   border: 1px solid black;
   color: white; 
   background-color: black;
}
.babars img {
  width: 100%;
  height: auto;
  max-width: 1300px !important;
  max-height: 400px;
  
}
.bigkitss{
  margin-top: 20px;

}
.kit11 {
  width: 100%;
  height: auto;
  max-height: 150px !important;
  max-width: 200px;
  margin: auto;
}
.card button {
  margin-left: 40px;
}
.local {
  width: 100%;
  height: auto;
  height: 40px !important;
  background-color: black !important;
}

.h66{
   font-weight: 600 !important;
   color: orange !important; 
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: x-large !important;
   font-style: italic;
   text-shadow: 1px 1px 4px black, -1px -1px 4px white; 
}
.divm {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin: 50px !important;
}
.n a {
  text-align: center !important;
}
.n a {
  color: black !important;
  font-weight: 600;
  text-decoration: none;
  text-align: center !important;
   padding-right: 30px !important; 
  padding: 0px 10px 5px 0px !important;
}
.n:hover{
  border-bottom: 3px solid red !important;
  
}
.icon {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px; 
}
.icons:hover{
  transform: scale(1.2);
  transition: 1s;
}
.icons a{
  text-decoration: none !important;
  color: black;
  padding: 30px !important;
}
.para {
  color: white !important;
  background-color: black !important;
  padding: 5px !important;
  margin: 0px !important;
} 
h6{
  font-size: larger !important;
  margin: 50px !important;
  background-color: black !important;
  color: white !important;
  padding: 10px !important;
  text-align: center;

} 
.paragraff {
  width: 100%;
  height: auto;
  padding: 20px;
  text-align: center;
  font-weight: 500;
  color: black !important;
  border: 2px solid black;

}
